/* Fonts */
@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), url("../fonts/cuprum.woff2") format("woff2"),
    url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum";
  src: local("Cuprum"), url("../fonts/cuprumbolditalic.woff2") format("woff2"),
    url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Global Styles */
:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-blue: #32425c;
  --basic-blue-dark: #1d2739;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-borderline: #e5e5e5;
  --basic-biege: #f9f5f0;
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #212a3a;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-green: #518534;
  --special-yellowlight: #ffd180;
  --special-orange: #ffc047;
  --special-salmon: #ff5357;
  --special-red: #ca2c37;
  --special-dark: #161d29;
  --special-blue-dark: #293449;
  --special-biege: #f7f3ec;
  --special-grey: #a9a9a9;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;
  --light-grey: #eaeaea;
}

body {
  font-family: "Cuprum", "Arial", sans-serif;
}

a {
  text-decoration: none;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  font-size: 0.875rem;
  line-height: 1.2857;
  color: var(--white);
  background-color: var(--basic-red);
  text-transform: uppercase;
}

.button:hover {
  background-color: var(--special-red);
}

.button:active {
  background-color: var(--error);
}

.button-salmon {
  background-color: var(--special-salmon);
}

button.button {
  border: none;
}

.popular-header {
  background-color: var(--basic-biege);
  display: grid;
  grid-template-columns: 1fr auto;
  margin-bottom: 20px;
}

.popular-header h2 {
  margin-left: 28px;
  margin-top: 29px;
  margin-bottom: 30px;
}

.popular-header a {
  padding-top: 11px;
  padding-bottom: 9px;
  min-width: 192px;
  margin-top: 25px;
  margin-bottom: 26px;
  margin-right: 14px;
  text-align: center;
}

/* Main Header */
.main-header h1 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--basic-red);
  line-height: 1.4375;
}

.main-header p {
  font-size: 0.875rem;
  color: var(--basic-blue);
  line-height: 1.7142;
}

.page h2 {
  font-size: 1.875rem;
  line-height: 1;
  color: var(--basic-blue);
  font-weight: normal;
  text-transform: uppercase;
}

.main-header {
  background-color: var(--basic-background);
  display: grid;
  margin-bottom: 59px;
}

.header-top {
  background-color: var(--basic-blue);
}

.header-top-wrapper {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
}

.header-top-links {
  justify-self: end;
}

.header-top a {
  font-size: 1.125rem;
  color: var(--white);
  line-height: 1.3333;
}

.header-top a:active {
  background-color: var(--special-dark);
}

.header-top .main-header-logo {
  font-size: inherit;
  background-color: var(--basic-red);
}

.header-top input {
  font-size: 1.125rem;
  background-color: var(--basic-blue);
  color: var(--white);
  line-height: 1.3333;
  border: none;
}

.header-top input:focus {
  background-color: var(--white);
  color: var(--black);
}

.header-top input::placeholder {
  color: var(--white);
}

.header-top .place-order-link {
  background-color: var(--basic-green);
  padding-left: 1.056em;
  padding-right: 0.889em;
}

.header-bottom-wrapper {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.phone-link {
  color: var(--basic-red);
  font-weight: 700;
  font-size: 1.313rem;
  line-height: 1.4285;
}

.user-links {
  justify-self: end;
}

.user-links .user-login {
  background-color: var(--white);
  font-size: 1.313rem;
  color: var(--black);
  line-height: 1;
}

.user-links .user-login:hover {
  color: var(--basic-red);
}

.user-links .user-login:active {
  color: var(--basic-greylight);
}

.user-name {
  background-color: var(--white);
  font-size: 1.313rem;
  color: var(--black);
  line-height: 1;
}

.user-name:hover {
  color: var(--black);
}

.user-name:active {
  color: var(--basic-greylight);
}

.user-links .user-link-sub {
  font-size: 1rem;
  line-height: 1.125;
  color: var(--basic-blue);
}

.user-links .user-link-sub:hover {
  color: var(--basic-red);
}

.user-links .user-link-sub:active {
  color: var(--basic-greylight);
}

.main-navigation {
  background-color: var(--basic-blue);
  width: 940px;
  margin: 0 auto;
}

.main-navigation ul {
  list-style-type: none;
  font-size: 1.125rem;
  line-height: 1.3333;
}

.main-navigation a {
  color: var(--white);
}

.main-navigation a:hover {
  background-color: var(--special-blue-dark);
}

.main-navigation a:active {
  background-color: var(--basic-blue-dark);
  opacity: 0.5;
}

.site-navigation {
  margin: 0;
  padding: 0;
}
/* Features */
.features {
  margin-bottom: 59px;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
}

.feature-item-gallery {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.feature-item {
  display: grid;
  grid-template-columns: 1fr 140px;
  column-gap: 2px;
}

.feature-item img {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
}

.features ul {
  list-style-type: none;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.feature-item h3 {
  font-size: 1.5rem;
  line-height: 1.25;
  margin-top: 20px;
  margin-left: 22px;
  margin-bottom: 14px;
}

.feature-item a {
  font-size: 0.875rem;
  line-height: 1.2857;
  color: var(--white);
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  width: 138px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-self: top;
  justify-self: right;
  margin-bottom: 22px;
}

.feature-item a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.feature-item a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.feature-item--yellow {
  background-color: var(--special-yellow);
}

.feature-item--blue {
  background-color: var(--special-blue);
}

.feature-item--lilac {
  background-color: var(--special-lilac);
}

.feature-item--greenlight {
  background-color: var(--special-greenlight);
}

.feature-item--orange {
  background-color: var(--special-orange);
}

/* Gallery **/
.gallery {
  color: var(--white);
}

.gallery h3 {
  font-size: 2.25rem;
  line-height: 1;
  text-transform: uppercase;
}

.gallery p {
  font-size: 1.125rem;
  line-height: 1.3333;
}

.gallery-content figure {
  margin: 0;
}

.gallery-content--hidden {
  display: none;
}

/* Products List */
.products-list {
  font-family: "PT Sans", "Arial", sans-serif;
  list-style-type: none;
  margin: 0 0 70px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
}

.products-list li {
  border-color: #eaeaea;
  border-width: 1px;
  border-style: solid;
}

.product-item h3 {
  font-size: 1.125rem;
  line-height: 1.1111;
  font-weight: 700;
}

.product-item p {
  font-size: 1.063rem;
  line-height: 1.0588;
}

.product-item .product-item-old-price {
  color: var(--special-grey);
}

.product-item .product-item-price {
  color: var(--white);
  background-color: var(--basic-red);
}

.product-item button {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 0.875rem;
  line-height: 1.2857;
  text-transform: uppercase;
  border: none;
  border-radius: 0.143em;
}

.product-item .product-item-buy-button {
  color: var(--white);
  background-color: var(--basic-green);
}

.product-item .product-item-buy-button:hover {
  background-color: var(--success);
}

.product-item .product-item-buy-button:active {
  background-color: var(--special-green);
}

.product-item .product-item-bookmark-button {
  color: var(--basic-blue);
  background-color: var(--white);
  box-shadow: inset 0 0 0 3px var(--basic-green);
}

.product-item .product-item-bookmark-button:hover {
  box-shadow: inset 0 0 0 3px var(--basic-blue);
}

.product-item .product-item-bookmark-button:active {
  box-shadow: inset 0 0 0 3px var(--basic-blue);
  opacity: 0.5;
}

/*  Popular Manufacturers */
.popular-manufacturers ul {
  list-style-type: none;
}

.manufacturers-list {
  margin: 0 0 70px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.manufacturers-list li {
  border-width: 1px;
  border-color: var(--light-grey);
  border-style: solid;
  min-height: 145px;
  display: grid;
}
.manufacturer-item a {
  align-self: center;
  justify-self: center;
}

.manufacturers-list li:hover {
  /* filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15)); */
  box-shadow: 0 4px 20px rgb(0, 0, 0, 0.15);
}

.manufacturers-list li:active {
  opacity: 0.5;
}

/* Services */
.services {
  background-color: var(--basic-background);
}

.services-wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.services-discription {
  grid-column: 1 / -1;
  margin-bottom: 3.563em;
}

.services-discription h2 {
  margin-top: 2.133em;
  margin-bottom: 0.833em;
}

.services h2 {
  color: var(--black);
}

.services h3 {
  color: var(--basic-blue);
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 0.813rem;
  line-height: 1.8461;
}

.services ul {
  list-style-type: none;
}

.tabs-list {
  margin: 0;
  padding: 0;
}

.tab-item button {
  cursor: pointer;
  width: 100%;
  text-align: left;
  padding-left: 22px;
  height: 61px;
}

.tab-button {
  border: none;
  font-size: 1.313rem;
  line-height: 1.4285;
  color: var(--white);
  background-color: var(--basic-blue);
}

.tab-button.tab-button--active {
  color: var(--basic-blue);
  background-color: var(--white);
}

.tab-button:hover {
  color: var(--white);
  background-color: var(--special-blue-dark);
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: block;
  position: relative;
  min-height: 284px;
  margin-left: 80px;
}

.tab-content h3 {
  margin: 0 0 1em;
}

.tab-content img {
  position: absolute;
  bottom: 4px;
  right: 0;
}

/* About */
.about {
  margin-top: 70px;
  margin-bottom: 70px;
  display: grid;
  grid-template-columns: 1fr 300px;
}
.about h2 {
  margin-top: 0;
  margin-bottom: 0.8em;
  color: var(--black);
  font-weight: 400;
}

.about p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 0.813rem;
  line-height: 1.8461;
  margin: 0;
}

.about ul {
  font-size: 1.125rem;
  line-height: 1.3333;
  list-style-type: none;
  font-weight: normal;
  margin-top: 1px;
  margin-bottom: 1.111em;
}

.about .button {
  padding-top: 0.786em;
  padding-bottom: 0.643em;
}

.company a {
  display: inline-block;
  min-width: 220px;
  text-align: center;
}

.company-list li {
  margin-bottom: 0.667em;
}

.contacts p {
  margin-bottom: 2.462em;
}

.contacts .contacts-map {
  display: block;
  margin-bottom: 25px;
}

.contacts button {
  width: 100%;
}

/* Main Footer */
.main-footer {
  background-color: var(--basic-blue);
  color: var(--white);
}

.main-footer-logo {
  background-color: var(--basic-red);
}

.main-footer ul {
  list-style-type: none;
}

.top-footer {
  font-size: 1.125rem;
  line-height: 1.3333;
  display: grid;
  grid-template-columns: auto 1fr;
}

.top-footer a {
  color: var(--white);
}

.footer-list a {
  color: var(--white);
}
.footer-list a:hover {
  text-decoration: underline;
}

.footer-list a:active {
  opacity: 0.5;
}

.footer-list--accent a {
  color: var(--special-yellowlight);
}

.footer-list--accent a:hover {
  text-decoration: underline;
}

.footer-list--accent a:active {
  opacity: 0.5;
}

.bottom-footer {
  font-size: 1em;
  line-height: 1.125;
  background-color: var(--special-blue-dark);
}

.bottom-footer-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bottom-footer-copyright a {
  color: var(--special-yellowlight);
}

.bottom-footer-copyright a:hover {
  text-decoration: underline;
}

.bottom-footer-copyright a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.socials-list li {
  background-color: var(--dark-blue);
}

.socials-list li:hover {
  background-color: var(--basic-red);
}

.socials-list li:active {
  background-color: var(--basic-red);
}

/* Site Breadcrumbs */
.site-breadcrumbs ul {
  list-style-type: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 0.813rem;
  line-height: 1.3846;
  text-transform: uppercase;
}

.site-breadcrumbs a {
  color: var(--black);
}

/* Category Title */
.category-title {
  font-size: 1.875rem;
  line-height: 1;
  font-weight: 400;
  background-color: var(--basic-background);
}

/*  Product Filter */
.product-filter {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.product-filter h3 {
  font-size: 0.813rem;
  line-height: 1.3846;
  font-weight: 400;
  background-color: #f7f3ec;
}

.product-filter-form fieldset {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--basic-borderline);
}

.product-filter-form legend {
  font-size: 1.063rem;
  line-height: 1.7647;
  font-weight: 700;
}

.product-filter-range {
  background-color: var(--special-biege);
}

.product-filter-form input[type="number"] {
  font-size: 1.063rem;
  line-height: 1.0588;
  background-color: var(--special-biege);
  border: none;
}

.product-filter-form label {
  font-size: 0.938rem;
  line-height: 1.2666;
}

.product-filter-form button {
  font-size: 0.813rem;
  line-height: 1.3846;
  text-transform: uppercase;
  background-color: var(--white);
  border: 1px solid var(--basic-borderline);
}

.product-filter-form input:disabled {
  opacity: 0.4;
}
.product-filter-form input:disabled + label {
  opacity: 0.4;
}

/* Product Sorting */
.product-sort {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 0.813rem;
  line-height: 1.3846;
  background-color: var(--special-biege);
  text-transform: uppercase;
}

.product-sort-form fieldset {
  border: none;
}

.basic-sort-input:checked + label {
  color: var(--basic-red);
}

.basic-sort-input[type="radio"]:not(:checked) + label {
  color: rgba(0, 00, 0, 0.3);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-color: var(--basic-red);
}

/* Page Pagination */
.page-pagination-list {
  font-size: 0.813rem;
  line-height: 1.3846;
  list-style-type: none;
  text-transform: uppercase;
}

.page-pagination-list a {
  color: var(--black);
  border: 1px solid var(--basic-borderline);
}

.page-pagination-list .pagination-page-current {
  color: var(--white);
  background-color: var(--basic-red);
}

/* About Product Category */
.about-product-category {
  background-color: var(--basic-background);
}
.about-product-category p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 0.813rem;
  line-height: 1.8461;
}
