.modal {
  display: none;
  position: fixed;
  border-top: 7px solid @basic-red;
  outline: none;
  box-shadow: 0px 4px 20px @default-box-shadow;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}

.modal--show {
  display: block;
  animation: modalBounce 0.6s;
  background-color: @white;
}

.modal--error {
  animation: modalShake 0.6s;
}

.modal__close {
  position: absolute;
  top: 14px;
  right: 11px;
  border-width: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.modal__icon {
  fill: @basic-red;
}

.modal__feedback-form {
  width: 620px;
}

.modal__map {
  display: block;
  border-width: 0;
}


.modal--cart span {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 30px;
  margin-top: 48px;
  margin-bottom: 50px;
  margin-left: 81px;
}

.modal--cart span::before {
  content: "";
  display: block;
  width: 66px;
  height: 66px;
  top: 0;
  left: 0;
  background-image: url("../img/icon-mark.svg");
  margin-right: 30px;
}

.modal--cart-controls {
  display: flex;
  background-color: @modal-bottom;
  padding-top: 36px;
  padding-bottom: 37px;
  padding-left: 114px;
}

.modal--cart-controls .button {
  text-align: center;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-right: 10px;
}

.modal--cart .modal-close {
  top: 11px;
}
