/* Global Styles */
:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-blue: #32425c;
  --basic-blue-dark: #1d2739;
  --basic-greylight: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-borderline: #e5e5e5;
  --basic-biege: #f9f5f0;
  --basic-grey: #3d546f;
  --white: #ffffff;
  --black: #000000;
  --dark-blue: #212a3a;
  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-green: #518534;
  --special-yellowlight: #ffd180;
  --special-orange: #ffc047;
  --special-salmon: #ff5357;
  --special-red: #ca2c37;
  --special-red-shadow: #b52933;
  --special-dark: #161d29;
  --special-blue-dark: #293449;
  --special-biege: #f7f3ec;
  --special-grey: #a9a9a9;
  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;
  --light-grey: #eaeaea;
  --half-white: rgba(255, 255, 255, 0.5);
  --third-white: rgba(255, 255, 255, 0.3);
  --third-silver: rgba(197, 197, 197, 0.3);
  --third-white-alumnium: rgba(169, 169, 169, 0.3);
  --default-box-shadow: rgba(0, 0, 0, 0.15);
  --outside-footer-shadow: rgba(0, 0, 0, 0.24);
  --third-black: rgba(0, 0, 0, 0.3);
  --buy-button: #367315;
  --range-control-scale: #d7dcde;
  --range-control-bar: #00ca74;
  --modal-bottom: #f4f4f4;
  --toggle-background: #ababab;
  --toggle-background-shadow: rgba(171, 171, 171, 0.3);
}

/* Place Order Link */
.cart-link.cart-link--added {
  width: 136px;
  background-color: var(--basic-red);
  margin-left: 14px;
}

.cart-link.cart-link--added.cart-link::before {
  margin-left: 12px;
}


/* Range Filter */
.range-filter {
  // margin-bottom: 25px;
}

.range-controls {
  position: relative;
  height: 41px;
  background-color: var(--special-biege);
  border-radius: 5px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 9px;
}

.range-controls .scale {
  height: 2px;
  background-color: var(--range-control-scale);
}
.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--range-control-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0;
  padding: 2px;
  border: 8px solid var(--white);
  border-radius: 50%;
  background-color: var(--toggle-background);
  box-shadow: 0 2px 0px 0 var(--toggle-background-shadow);
  cursor: pointer;
}

.price-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-controls input {
  box-sizing: border-box;
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  text-align: center;
  background-color: var(--special-biege);
  border: none;
  border-radius: 5px;
  padding-top: 9px;
  padding-bottom: 11px;
  padding-left: 5px;
  -moz-appearance: textfield;
}

.price-controls input::-webkit-inner-spin-button,
.price-controls input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Checkbox and Radio */
.check-label {
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  font-size: 15px;
  line-height: 19px;
  padding-left: 35px;
  margin-bottom: 20px;
  cursor: pointer;
}

.check-label:last-of-type {
  margin-bottom: 0;
}

.check-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check-label::before {
  content: "";
  position: absolute;
  display: block;
  width: 23px;
  height: 23px;
  left: 0;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0;
}

.check-label::after {
  content: "";
  position: absolute;
  display: block;
  width: 27px;
  height: 23px;
  left: 0;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  opacity: 0;
}

.check-label--radio::before {
  width: 25px;
  height: 26px;
  background-image: url("../img/radio-off.svg");
}

.check-label--radio::after {
  width: 25px;
  height: 26px;
  background-image: url("../img/radio-on.svg");
}

.check-input:not(:checked) + .check-label::before {
  opacity: 0.66;
}

.check-input:checked + .check-label::after {
  opacity: 0.66;
}

.check-input:not(:checked) + .check-label:hover::before {
  opacity: 1;
}

.check-input:checked + .check-label:hover::after {
  opacity: 1;
}

.check-input:not(:checked):focus + .check-label::before {
  opacity: 1;
}

.check-input:checked:focus + .check-label::after {
  opacity: 1;
}

.check-input:disabled + .check-label {
  opacity: 0.4;
  cursor: default;
}

.check-input:disabled:not(:checked) + .check-label::before,
.check-input:disabled:checked + .check-label::after {
  opacity: 0.4;
}

.product-filter-form .product-filter-form-submit {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--white);
  border: 1px solid var(--basic-borderline);
  width: 100%;
  padding: 10px 0;
  margin-top: 9px;
  cursor: pointer;
}

/* Page Pagination */
.page-pagination-list {
  display: flex;
  flex-wrap: wrap;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  list-style-type: none;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.page-pagination-list a {
  display: block;
  min-width: 36px;
  box-sizing: border-box;
  border: 1px solid var(--basic-borderline);
  border-radius: 2px;
  padding: 10px 15px;
  margin-right: 9px;
  color: var(--black);
}
.page-pagination-list a:hover {
  border-color: var(--basic-greylight);
}
.page-pagination-list a:active {
  border-color: var(--basic-red);
}

.page-pagination-list .page-pagination-item-next {
  margin: 0;
  padding-left: 32px;
  padding-right: 31px;
}

.page-pagination-list .pagination-page-current {
  color: var(--white);
  background-color: var(--basic-red);
}

/* About Product Category */
.about-product-category {
  background-color: var(--basic-background);
  padding-top: 4em;
  padding-bottom: 4.25em;
}
.about-product-category h2 {
  margin-top: 0;
  margin-bottom: 25px;
}

.about-product-category p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-product-category p:last-child {
  margin-bottom: 0;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  border-top: 7px solid var(--basic-red);
  outline: none;
  box-shadow: 0px 4px 20px var(--default-box-shadow);
}

.modal--show {
  display: block;
  animation: bounce 0.6s;
  background-color: var(--white);
}

.modal--error {
  animation: shake 0.6s;
}

.modal .modal-close {
  position: absolute;
  width: 21px;
  height: 21px;
  top: 14px;
  right: 11px;
  border: none;
  background-image: url("../img/icon-close.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Modal Feedback */
.modal--feedback {
  top: calc(50vh - calc(430px / 2));
  left: calc(50vw - calc(636px / 2));
}

.feedback-form {
  display: grid;
  grid-template-rows: auto 112px;
  background-color: var(--white);
  margin: 0 auto;
}

.feedback-form-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 460px;
  column-gap: 21px;
  row-gap: 14px;
  margin: 40px 80px 37px;
}

.feedback-form-main label {
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  margin-bottom: 10px;
}

.feedback-form-main input,
.feedback-form-main textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  padding-top: 5px;
  padding-left: 8px;
  padding-bottom: 5px;
  border-radius: 2px;
  border: 2px solid var(--basic-greylight);
}

.feedback-form-main textarea {
  padding-bottom: 10px;
  resize: none;
}

.feedback-sender-text {
  grid-column: 1 / 3;
}

.feedback-form-main div {
  display: flex;
  flex-direction: column;
}

.feedback-form-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bottom);
}

.feedback-form-submit button {
  width: 460px;
  padding-top: 11px;
  padding-bottom: 9px;
}

/* Modal Map */
.modal--map {
  top: calc(50vh - calc(450px / 2));
  left: calc(50vw - calc(966px / 2));
}

.modal--map img {
  display: block;
}

/* Modal Added To Cart */
.modal--cart {
  width: 620px;
  top: calc(50vh - calc(282px / 2));
  left: calc(50vw - calc(588px / 2));
}

.modal--cart span {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 30px;
  margin-top: 48px;
  margin-bottom: 50px;
  margin-left: 81px;
}

.modal--cart span::before {
  content: "";
  display: block;
  width: 66px;
  height: 66px;
  top: 0;
  left: 0;
  background-image: url("../img/icon-mark.svg");
  margin-right: 30px;
}

.modal--cart-controls {
  display: flex;
  background-color: var(--modal-bottom);
  padding-top: 36px;
  padding-bottom: 37px;
  padding-left: 114px;
}

.modal--cart-controls .button {
  text-align: center;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-right: 10px;
}

.modal--cart .modal-close {
  top: 11px;
}

/* Animations */
@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
