@color-amaranth: #ee3643;
@color-apple: #63a63e;
@color-aqua-haze: #f1f5f7;
@color-astronaut: #405069;
@color-bilbao: #367315;
@color-black: #000000;
@color-brick-red: #ca2c37;
@color-bunting: #293449;
@color-carribean-green: #00ca74;
@color-dark-gray: #ababab;
@color-ebony-clay: #212a3a;
@color-ecru-white: #f7f3ec;
@color-feijoa: #8ed78f;
@color-fiord: #3d546f;
@color-gallery: #eaeaea;
@color-golden-tainoi: #ffc047;
@color-grandis: #ffd180;
@color-green-leaf: #518534;
@color-iron: #d7dcde;
@color-light-orchid: #dc91d8;
@color-lima: #5fbb2d;
@color-loblolly: #B7BFC8;
@color-mercury: #e5e5e5;
@color-merino: #f9f5f0;
@color-midnight-express: #161d29;
@color-mirage: #1d2739;
@color-nobel: #B5B5B5;
@color-pickled-bluewood: #32425c;
@color-piction-blue: #3bbce3;
@color-silver-chalice: #a9a9a9;
@color-silver: #c5c5c5;
@color-tall-popy: #ba2732;
@color-white: #ffffff;
@color-wild-sand: #f4f4f4;
@color-yellow-orange: #ffbf47;
@color-half-white: rgba(255, 255, 255, 0.5);
@color-third-white: rgba(255, 255, 255, 0.3);
@color-third-silver: rgba(197, 197, 197, 0.3);
@color-third-dark-gray: rgba(169, 169, 169, 0.3);
@color-fifteen-black: rgba(0, 0, 0, 0.15);
@color-quarter-black: rgba(0, 0, 0, 0.24);
@color-third-black: rgba(0, 0, 0, 0.3);

//Purpose
@color-button: @color-amaranth;
@color-button-hover: @color-brick-red;
@color-button-active: @color-tall-popy;
